<p>
  <b>Nome:</b>
  <%=h @cliente.nome %>
</p>

<p>
  <b>Razao:</b>
  <%=h @cliente.razao %>
</p>

<p>
  <b>Contato:</b>
  <%=h @cliente.contato %>
</p>

<p>
  <b>Cnpj:</b>
  <%=h @cliente.cnpj %>
</p>

<p>
  <b>Tel1:</b>
  <%=h @cliente.tel1 %>
</p>

<p>
  <b>Tel2:</b>
  <%=h @cliente.tel2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @cliente.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @cliente.email %>
</p>

<p>
  <b>Site:</b>
  <%=h @cliente.site %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @cliente.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @cliente.bairro %>
</p>

<p>
  <b>Estado:</b>
  <%=h @cliente.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @cliente.cidade %>
</p>

<p>
  <b>Pais:</b>
  <%=h @cliente.pais %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>