<script type="text/javascript">
	var store_combo_Operacoes_<%= @equipamento.id %> =
	createStore('/processos/store/combo', ['id', 'nome'], [{name: 'id',  mapping: 'id'}, {name: 'nome',  mapping: 'nome'}]);

	var comboOperacoes_<%= @equipamento.id %> =
	new Ext.form.ComboBox({
		fieldLabel: 'Operação Principal',
		valueField: 'id',
		displayField: 'nome',
		name: 'equipamento[operacao_id]',
		hiddenName: 'equipamento[operacao_id]',
		editable: true,
		emptyText: 'Selecione a operação...',
		store: store_combo_Operacoes_<%= @equipamento.id %>,
		mode: 'remote',
		selectOnFocus: true,
		forceSelection: true,
		triggerAction: 'all',
		minChars: 3,
		allowBlank: false,
		width: 400,
		listeners: { beforequery: function(qe){ delete qe.combo.lastQuery; } }
	});

	store_combo_Operacoes_<%= @equipamento.id %>.on('load', function(){
		comboOperacoes_<%= @equipamento.id %>.setValue(<%= @equipamento.operacao_id %>)
	}, this, {single:true});

    var form_newEquipamentos_<%= @equipamento.id %> = new Ext.FormPanel
	    ({
	      frame:true,
  		  labelWidth: 120,
	      title: 'Editando equipamento <%= @equipamento.modelo %>',
	      bodyStyle:'padding:5px 5px 0',
	      style: "margin: 0px auto 0px auto;",
	      width: 540,
	      defaultType: 'textfield',
	      monitorValid: true,
	      items: [{xtype:"fieldset",
					 defaults: {width: 350},
					autoHeight: true,
                   	items:[
						{ value: '<%= @equipamento.codigo %>', xtype:'textfield', fieldLabel: 'Codigo', name: 'equipamento[codigo]', allowBlank:false, maxLength: 50 },
						{ value: '<%= @equipamento.modelo %>', xtype:'textfield', fieldLabel: 'Modelo', name: 'equipamento[modelo]', allowBlank:false, maxLength: 100 },
						{ value: '<%= @equipamento.tipo %>', xtype:'textfield', fieldLabel: 'Tipo', name: 'equipamento[tipo]', allowBlank: true, maxLength: 30 },
						{ value: '<%= @equipamento.serie %>', xtype:'textfield', fieldLabel: 'Série', name: 'equipamento[serie]', allowBlank: false, maxLength: 30 },
						comboOperacoes_<%= @equipamento.id %>,
						{ value: '<%= @equipamento.horas_dia %>', xtype:'numberfield', fieldLabel: 'Disponibilidade (hrs)', name: 'equipamento[horas_dia]', allowBlank: true, maxLength: 12 }
					]
                 }
                 ],
			buttons: [
      				{
		      			text: 'Salvar',
						handler:function(){
		                   	if(form_newEquipamentos_<%= @equipamento.id %>.getForm().isValid()){
								form_newEquipamentos_<%= @equipamento.id %>.getForm().submit({
		                    		url:'/equipamentos/update/<%= @equipamento.id %>',
		                           	waitMsg:'Saving Data...',
		                           	success: function(){
										Ext.Msg.alert('OK','Equipamento alterado com sucesso!');
										updateSubTab('tab_equipamentos','sub_tab_equipamentos','Equipamentos','<%= equipamentos_path %>');
										closeSubTab('tab_equipamentos','sub_tab_equipamentos_edit_<%= @equipamento.id %>');},
									failure: function(form, action){
										if (action.failureType == 'server'){
											msg = String(Ext.util.JSON.decode(action.response.responseText));
		                                   	Ext.Msg.alert('Validation Error', msg);
	                                   	}
		                               	else{
		                               		Ext.Msg.alert('Error', 'There has been a problem while creating this request. Contact the system administrator.');
	                               		}
	                              	}
	                         	});
							}
						}
	                },
	                {text: 'Cancel', handler:function(){closeSubTab('tab_equipamentos','sub_tab_equipamentos_edit_<%= @equipamento.id %>');}
	               }
			]
	    });
    store_combo_Operacoes_<%= @equipamento.id %>.load();
    form_newEquipamentos_<%= @equipamento.id %>.render( 'area_form_editEquipamentos_<%= @equipamento.id %>');
</script>
<br/>
<div id="area_form_editEquipamentos_<%= @equipamento.id %>" style="float:left;margin-left:10px;"></div>
<style>
.x-grid3 {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
}
.x-fieldset {
    padding: 0 10px 10px 10px;
}
.x-fieldset-bwrap {
    margin-top: 10px;
</style>