<script type="text/javascript">
	function showOSDetails(id){
	    var detailsWin = new Ext.Window({
		    layout:'fit',
		    bodyBorder: false,
		    border: false,
		    width: 800,
		    height: 450,
		    plain: true,
		    shim :false,
		    modal:true,
		    title: 'Detalhes da Ordem de Serviço',
		    autoScroll:true,
		    autoDestroy :true,
		    monitorValid:true,
		    resizable:false,
		    autoLoad: { url: 'ordems/show/'+id, scripts: false },
		    buttons:[

		    	{
		    		text: 'Close',
		    		handler: function(){ detailsWin.close(); }
	   			}
	   		]
	    });
	    detailsWin.show();
	}
</script>

<h2>Planejamento Inteligente da Produ&ccedil;&atilde;o</h2>

<% @equipamentos.each do |equip| %>
	<br />
	<table class = "reportTable" style="border:1px solid black;" >
		<th><b><%= equip.codigo.upcase %></b></th>
		<% @ordems.each do |os| %>
			<% zebra = false %>
			<% processos = os.produto.processos.collect{ |p| p.id } %>
			<% if processos.include?(equip.operacao_id) %>
				<th align="center"><%= os.data_prevista.strftime("%d/%m/%Y") %></th>
			<% end %>
		<% end %>
		<tr>
			<td></td>
			<% @ordems.each do |os| %>
				<% zebra = false %>
				<% processos = os.produto.processos.collect{ |p| p.id } %>
				<% if processos.include?(equip.operacao_id) %>
						<td style="background-color: <%= zebra ? "#E6E6FA" : "#F8F8FF" %>;" align="center">
							<a href="#" onclick="showOSDetails(<%= os.id %>)">
								<%= image_tag("show.png", :width => 20) %>Ordem <%= os.titulo %><br /><i><%= os.produto.nome %></i> <br /> <b><%= os.qtde %> p&ccedil;s</b>
							</a>
						</td>
				<% end %>
			<% end %>
		</tr>
	</table>
<% end %>